body {
  background: #007bff;
  background: linear-gradient(to right, #0062E6, #33AEFF);
}

.dropdown-toggle {
  float: right;
}

.icon {
  cursor: pointer;
}

.saveLabel {
  color: #777777
}

#dropdownBtn {
  min-width: 175px;
  max-width: 200px;
}
